* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana;
    background-color: #48f;
    color: #fff;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contenido {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.center {
    text-align: center;
}

.entrada {
    padding: 8px;
    font-family: inherit;
    border-style: none;
}

.boton {
    padding: 7px;
    font-family: inherit;
    background-color: #4ac724;
    color: #fafae0;
    font-size: 16px;
    border-style: none;
}

.contenedorDesordenado {
    margin-bottom: 10px;
    padding: 6px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.lista {
    list-style-type: none;
}

.buttonColor {
    margin-left: 6px;
    padding: 6px;
    font-family: inherit;
    background-color: #f33;
    color: #fffd;
    border-style: none;
}
